body {
	color: white;
}

.overlayWindow {
	position: fixed;
	background-color: #2d2d2d;
	top: 20px;
	left: 20px;
	height: calc(100vh - 180px);
	width: calc(100vw - 40px);
	/* in order to show scroll (its 100vh) we need to pass auto overflow (scollbar) */
	overflow: auto;
	border-style: solid;
}

.oneTaskGrid {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 50px auto;
}

.taskName {
	width: 90%;
}

.checkboxOneTask {
	margin: 30px 0px 0px 15px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.allTasks {
	margin: 0px 0px 0px 70px;
}

.newTaskInputBox {
	border: 3px solid #555;
}

.horizontalLine {
	border-bottom: 4px solid #ff9900;
	width: 90%;
	margin: auto;
	padding: 1rem 0rem 0rem 0rem;
}

.cancelSmall {
	padding: 10px 64px;
	background-color: #ff3d00;
	border-radius: 4px;
	margin-right: 40px;
	position: static;
}

.cancelSmall:hover {
	background-color: #dd3806;
}

.addSmall {
	padding: 10px 64px;
	background-color: #ff9900;
	border-radius: 4px;
	right: 300px;
}

.addSmall:hover {
	background-color: #df8704;
}

.cancelBottom {
	padding: 22px 64px;
	color: #ff9900;
	border-radius: 4px;
	left: 0px;
	bottom: 0px;
	margin-bottom: 20px;
	margin-right: 30px;
}

.cancelBottom:hover {
	color: #aa6600;
}

.saveBottom {
	padding: 22px 64px;
	background-color: #ff9900;
	border-radius: 4px;
	right: 0px;
	bottom: 0px;
	position: relative;
	margin-bottom: 20px;
	margin-right: 30px;
}

.saveBottom:hover {
	background-color: #81aa11;
}
