body {
	text-align: center;
}

input {
	width: 60%;
	color: white;
	padding: 10px 20px;
	margin: 16px 0;
	border: none;
	border-radius: 8px;
	cursor: text;
	color: black;
}

form {
	padding-top: 70px;
}
.submit {
	background: #ff9900;
	border-radius: 8px;
	font-size: 1.5rem;
	width: 250px;
	color: white;
	cursor: pointer;
}

.goBack {
	font-size: 3rem;
	color: white;
	position: absolute;
	margin-left: 3rem;
	cursor: pointer;
	font-weight: bold;
}

.titleAccount {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 4rem;
	color: #ff9900;
	margin-bottom: 4rem;
	padding-top: 60px;
}

.gridEmailPassword {
	display: grid;
}

.or {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	color: #ffffff;
	padding-top: 30px;
	margin-bottom: 30px;
}

#createAccount {
	font-family: Roboto;
	font-weight: 100;
	font-size: 32px;
	color: #ff9900;
}
