.logout {
	color: white;
	position: absolute;
	right: 68px;
	top: 2rem;
	font-size: 3rem;
	cursor: pointer;
}
.searchInput {
	width: 30%;
	position: relative;
	top: 10rem;
	right: 14rem;
	height: 4rem;
	font-size: 2rem;
	cursor: text;
}

.dropdown {
	width: 30%;
	height: 4rem;
	position: relative;
	top: 10rem;
	left: 14rem;
	font-size: 2rem;
}

li {
	padding: 1rem;
	margin: 1rem 0rem 0rem 0rem;
	background: #2d2d2d;
	border-radius: 8px;
}

li:hover {
	background: #797171;
	cursor: pointer;
}

.maxWidthList {
	max-width: 80%;
	margin: auto;
	text-align: center;
}
.listName {
	font-weight: bold;
}
