.logout {
	color: white;
	position: absolute;
	right: 68px;
	top: 2rem;
	font-size: 3rem;
	cursor: pointer;
}
.searchInput {
	width: 30%;
	position: relative;
	top: 10rem;
	right: 14rem;
	height: 4rem;
	font-size: 2rem;
	cursor: text;
}

.dropdown {
	width: 30%;
	height: 4rem;
	position: relative;
	top: 10rem;
	left: 14rem;
	font-size: 2rem;
}
